@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body::-webkit-scrollbar {
    width: 8px;
    padding-right: 10px;
  }

  body::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  body::-webkit-scrollbar-thumb {
    background: #888;
  }

  body::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@keyframes opacityDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-opacity-down {
  animation: opacityDown 0.7s ease-in-out;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slideDown 0.7s ease-in-out;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-right {
  animation: slideRight 1s ease-in-out;
}
