@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body::-webkit-scrollbar {
    width: 8px;
    padding-right: 10px;
  }

  body::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  body::-webkit-scrollbar-thumb {
    background: #888;
  }

  body::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
